[flake8]
max-line-length = 79
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    dist,
    target
per-file-ignores =
    tests/toolkits/kinematics/test_kinematics.py: F401,F541,F811,F841,E501
    tests/toolkits/kinematics/test_kinematics_examples.py: F401,F841,E225,E501
